body{
    background-color:#7adacd
}


@font-face {
    font-family: 'Fuente1';
    src: url('Styles/Fonts/Lato/Lato-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fuente2';
    src: url('Styles/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fuente3';
    src: url('Styles/Fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fuente4';
    src: url('Styles/Fonts/Protest_Riot/ProtestRiot-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Fuente5';
    src: url('Fonts/Noto_Sans_Buhid/NotoSansBuhid-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.content{
    display: flex;
}

.Title {
    text-align: center;
    flex-grow: 1;
    margin-left: 490px;
}

h1 {
    text-align: center;
    justify-content: left;
    margin-right: 25px;
    margin-left: 25px;
    color: black;
    font-family: 'Fuente2', sans-serif ;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    transition: all 3s; 
    text-align: center;
}

h2 {
    text-align: center;
    justify-content: right;
    margin-right: 25px;
    margin-left: 25px;
    color: black;
    font-family: 'Fuente3', sans-serif ;
    font-size: 20px;
        
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    transition: all 3s; 
    text-align: center;
}


h3 {
    font-family: 'Fuente2', sans-serif ;
}

p {
    font-family: 'Fuente4', sans-serif ;
}

.lable{
    text-align: center;
}

.NumFuente{

    font-family: sans-serif;
}

.buttons a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 5px;
    position: relative;
    display: inline-block;
}

.buttons a::before {
    content: '';
    position: absolute;
    left: -10px; 
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent blue; 
}

.buttons a:hover {
    background-color: blue;
}




